[flake8]
max-line-length = 120
# Compatível com Black
extend-ignore = E203, W503

# Não analisar caches/env/migrations
exclude =
    .git,
    __pycache__,
    venv,
    env,
    */migrations/*

# Ignora avisos onde é comum ter re-exports/imports “de propósito”
per-file-ignores =
    # reexports agregadores
    */__init__.py:F401
    # views/admin gerados por startapp
    */views.py:F401
    */admin.py:F401
    # fábricas e testes nas apps
    */factories.py:F401,F811
    */tests/*:F401,F841,E303