[flake8]
# Mantém um limite razoável p/ Django
max-line-length = 120
# Compatibilidade com Black
extend-ignore = E203, W503

# Não analisar caches, envs e migrations
exclude =
    .git,
    __pycache__,
    venv,
    env,
    ./migrations/*

# Ignora alertas comuns em arquivos específicos:
per-file-ignores =
    # settings.py: linhas longas
    bookstore/settings.py:E501
    # admin.py: imports só para registro
    */admin.py:F401
    # testes: paths longos e imports de fixtures
    tests/*:E501,F401